name: selfhosted-ai

services:
  nginx:
    build: ./nginx
    container_name: nginx-proxy
    depends_on:
      - webui # Проксирует запросы к WebUI
    volumes:
      - ./data/nginx:/etc/nginx/ssl # SSL сертификаты
    ports:
      - '0.0.0.0:80:80' # HTTP порт (редирект на HTTPS)
      - '0.0.0.0:443:443' # HTTPS порт
    networks:
      - ai-network
    restart: unless-stopped
  ollama:
    build: ./ollama
    container_name: ollama
    volumes:
      - ./data/ollama:/root/.ollama # Сохраняем модели на хосте
      - ./models.txt:/models.txt # Список моделей для загрузки
    environment:
      - OLLAMA_KEEP_ALIVE=24h # Поддержание моделей в памяти
      - OLLAMA_HOST=0.0.0.0 # Доступ к API извне контейнера
    ports:
      - '0.0.0.0:11434:11434' # Ollama API порт
    networks:
      - ai-network
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ] # Использование GPU NVIDIA для ускорения

  voice-bridge:
    build: ./voice_bridge
    container_name: voice-bridge
    depends_on:
      - ollama # Зависит от Ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434 # URL Ollama API
    networks:
      - ai-network
    restart: unless-stopped
    devices:
      - "/dev/snd:/dev/snd" # Доступ к звуковым устройствам хоста
    group_add:
      - "audio" # Добавляем в группу audio для работы со звуком

  webui:
    image: ghcr.io/open-webui/open-webui:main # Веб-интерфейс для Ollama
    container_name: open-webui
    depends_on:
      - ollama
    volumes:
      - ./data/webui:/app/backend/data # Сохраняем данные WebUI
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434 # Ссылка на Ollama
      - ENABLE_ADD_ONS=true # Включение дополнений
      - ENABLE_STT=true # Включение распознавания речи
      - ENABLE_TTS=true # Включение синтеза речи
      - HF_HUB_OFFLINE=0 # Использовать онлайн-репозитории HuggingFace
    ports:
      - '0.0.0.0:8080:8080' # Прямой доступ к WebUI (альтернатива nginx)
    networks:
      - ai-network
    restart: unless-stopped

networks:
  ai-network:
    driver: bridge # Общая сеть для всех сервисов
